/* Structural CSS */
:root {
    --grid-rows: 1;
    --grid-columns: 1;
    --cell-width: 1em;
    --cell-height: 1em;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    margin: 1em;
}

.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.grid {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    margin: 1em;
}

/* Aesthetic CSS */
.grid,
.grid-cell {
    border: 1px solid black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.grid-cell {
    width: var(--cell-width);
    height: var(--cell-height);
}

.grid-size-selector {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.grid-size-selector p,
.grid-size-form {
    text-align: center;
}

/* Variable Classes */
.active {
    background-color: wheat;
}
